.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.table {
  border-left: 1px solid rgba(0,0,0,.12);
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
